<div class="container mx-auto p-5 w-9/12">
  <header class="bg-white shadow">
    <div class="max-w-7xl mx-auto py-6 px-4 sm:px-6 lg:px-8">
      <h1 class="text-3xl font-bold text-gray-700">{{title}}</h1>
    </div>
  </header>
  <main>
    <div class="max-w-7xl mx-auto">
      <div class="py-6 sm:px-0">
        <div class="border-2 border-gray-200 rounded-lg h-96"></div>
      </div>

    </div>
  </main>

</div>